version: '3.8'

services:
  web:
    build: .
    restart: always
    env_file:
      - .env
    volumes:
      - ./:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    networks:
      - promptcrafter-network

  db:
    image: postgres:14-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env
    environment:
      - POSTGRES_PASSWORD=${DB_PASSWORD:-promptcrafter}
      - POSTGRES_USER=${DB_USER:-promptcrafter}
      - POSTGRES_DB=${DB_NAME:-promptcrafter}
    networks:
      - promptcrafter-network

  redis:
    image: redis:alpine
    volumes:
      - redis_data:/data
    networks:
      - promptcrafter-network

  nginx:
    image: nginx:alpine
    restart: always
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./static:/app/static
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - web
    networks:
      - promptcrafter-network

volumes:
  postgres_data:
  redis_data:

networks:
  promptcrafter-network:
    driver: bridge 