version: "3.8"
services:
    api:
        # Replace 'username/fastapiapp' with your actual image name
        image: username/promptcrafter-backend:latest
        build:
            context: .
            dockerfile: Dockerfile
        depends_on:
            - postgres
        ports:
            - "8000:8000"
        command: uvicorn main:app --host 0.0.0.0 --port 8000
        env_file:
            - backend/.env
        environment:
            - DATABASE_HOSTNAME=${DATABASE_HOSTNAME}
            - DATABASE_PORT=${DATABASE_PORT}
            - DATABASE_NAME=${DATABASE_NAME}
            - DATABASE_PASSWORD=${DATABASE_PASSWORD}
            - DATABASE_USERNAME=${DATABASE_USERNAME}
            - SECRET_KEY=${SECRET_KEY}
            - ALGORITHM=${ALGORITHM}
            - ACCESS_TOKEN_EXPIRE_MINUTES=${ACCESS_TOKEN_EXPIRE_MINUTES}

    postgres:
        image: postgres:15
        restart: always
        environment:
            - POSTGRES_USER=${DATABASE_USERNAME}
            - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
            - POSTGRES_DB=${DATABASE_NAME}
        volumes:
            - postgres_data_prod:/var/lib/postgresql/data

volumes:
    postgres_data_prod:
