# prometheus.yml
global:
    scrape_interval: 15s

scrape_configs:
    - job_name: "fastapi-app"
      # The hostname 'api' comes from the service name in docker-compose-dev.yml
      static_configs:
          - targets: ["api:8000"]

    - job_name: "postgres-exporter"
      # The hostname 'postgres-exporter' comes from the service name in docker-compose.monitoring.yml
      static_configs:
          - targets: ["postgres-exporter:9187"]
