{% extends "base.html" %}

{% block content %}
<h1>Verify Your Account</h1>
<p>Hi {{ email }},</p>
<p>Welcome to Bookly! We're excited to have you on board. To get started, please verify your email address by clicking
    the button below.</p>
<table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
    <tbody>
        <tr>
            <td align="left">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td><a href="{{ link }}" target="_blank">Verify Email</a></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<p>If you didn't create an account with Bookly, you can safely ignore this email.</p>
<p>Good luck! Hope it works.</p>
{% endblock %}